{{ partial "content-list-top-head.html" . }}

  <title>{{ .Site.Title }} :: Page not found</title>

{{ partial "content-list-top-tail.html" . }}
<!-- 
https://www.dropbox.com/s/taof8o6clrm17l1/197H.jpg?dl=1
-->
<div class="post-image">
  
  
    <img width="953" height="536" src="{{ .Site.BaseURL }}/2015/09/20/not-found.jpg" class="attachment-post wp-post-image" alt="Not found" />
  
</div>
        <article class="error-404 not-found">
                <div class="post-inside">
                        
                        <h1 class="page-title">Oops! That page can’t be found.</h1>
                        
                        <p>It looks like nothing was found at this location.</p>
                        
                    <div class="clearfix"></div>
                </div>
                            
             </article>

{{ partial "closing-bottom.html" . }}
