<section id="follow">
  <h4><span class="fa fa-users"></span> Siguenos</h4>
  <ul class="social">
    <li> <a href="{{ .RSSlink }}" target="_blank" title="Subscribe by RSS" class="rss"><span class="fa fa-rss-square fa-fw"></span>RSS</a> </li>
    <li> <a href="http://www.twitter.com/grailsmx" target="_blank" title="Follow me on Twitter" class="twitter"><span class="fa fa-twitter-square fa-fw"></span>Twitter</a> </li>
    <!--li> <a href="http://www.facebook.com/gilesp" target="_blank" title="Join me on Facebook" class="facebook"><span class="fa fa-facebook-square fa-fw"></span>Facebook</a> </li>
    <li> <a href="http://uk.linkedin.com/in/gpaterson" target="_blank" title="LinkedIn" class="linkedin"><span class="fa fa-linkedin-square fa-fw"></span>LinkedIn</a> </li-->
    <li> <a href="http://github.com/grailsmx" target="_blank" title="GitHub" class="github"><span class="fa fa-github-square fa-fw"></span>GitHub</a> </li>
    <!--li> <a href="https://plus.google.com/u/0/+GilesPaterson" target="_blank" title="Google+" class="googleplus"><span class="fa fa-google-plus-square fa-fw"></span>Google+</a> </li-->
  </ul>
</section>
