<section id="social">
  <h4><span class="fa fa-share-alt"> </span> Share</h4>
  <ul class="social">
    <li> <a href="https://twitter.com/intent/tweet?status={{ .Title }}-{{ .Permalink }}" target="_blank" title="Tweet this" class="twitter"><span class="fa fa-twitter-square fa-fw"></span>Twitter</a> </li>
    <li> <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" title="Share this on Facebook" class="facebook"><span class="fa fa-facebook-square fa-fw"></span>Facebook</a> </li>
    <li> <a href="https://plus.google.com/share?url={{ .Permalink }}" target="_blank" title="Google+" class="googleplus"><span class="fa fa-google-plus-square fa-fw"></span>Google+</a> </li>
    <li> <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}&source=vurt.co.uk" target="_blank" title="LinkedIn" class="linkedin"><span class="fa fa-linkedin-square fa-fw"></span>LinkedIn</a> </li>
    <li> <a href="http://www.reddit.com/submit?url={{ .Permalink }}" target="_blank" title="Reddit" class="reddit"><span class="fa fa-reddit-square fa-fw"></span>Reddit</a> </li>
  </ul>

</section>
