          {{ $paginator := .Paginate (where .Data.Pages "Type" "article") }}
          {{ range $paginator.Pages }}
          {{ .Render "summary" }}
          {{ end }}

          <div class="clearfix"></div>

          <div class="clearfix"></div>

          {{ partial "pagination.html" . }}


        </div><!-- /content -->
      </section>

      {{ partial "sidebar.html" . }}

      <div class="clearfix"></div>
    </div><!--/row -->
  </div><!-- /container -->


  {{ partial "footer.html" . }}

</body>
</html>