body {
    margin-top: 100px;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

footer {
  margin: 50px 0;
}

.feature-img {
  max-height: 300px;
  overflow: hidden;
}

.feature-img img {
  width: 100%;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
}

h1 {
    font-size: 2.5em;
}

h2 span.glyphicon {
    top: 3px;
    margin-right: 5px;
}

h2 span.fa {
  margin-right: 5px;
}

.date {
    text-align: right;
}

.date span.glyphicon {
    top: 3px;
}

.container img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
