{{ template "theme/partials/header.html" . }}
    <h1>{{ .Title }}</h1>
    <h3>{{ index .Site.Params "SubTitle" }}</h3>
    <hr>
    {{ $paginator := .Paginate (where .Data.Pages "Type" "article") }}
    {{ range $paginator.Pages }}
      <h2>
        {{ if isset .Params "icon" }}
        <span class="fa {{ .Params.icon }}"></span>
        {{ else }}
        <span class="fa fa-comment"></span>
        {{ end }}
        <a href="{{.Permalink}}">{{.Title}}</a>
      </h2>
      <p class="date">
        <span class="glyphicon glyphicon-time"></span> {{.Date.Format "Mon 2 Jan, 2006"}}</p>
      <p class="date">
            <i class="fa fa-clock-o"></i>
            Reading time ~{{ .ReadingTime }} minutes
          </p>
      {{if isset .Params "img"}}
        <div class="feature-img">
          <img src="{{.Params.img}}" class="img-responsive">
          <hr>
        </div>
      {{end}}
      <p class="lead">{{.Summary}}</p>
      <a class="btn btn-primary" href="{{.Permalink}}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
      <hr>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
<!--
    {{ template "_internal/pagination.html" . }}
{{ range .Paginator.Pages }}
   {{ .Title }}
{{ end }}
-->
</div>
<div class="col-lg-4">
  <div class="well">
    {{ template "theme/partials/follow.html" . }}
  </div>

  


{{ template "theme/partials/footer.html" . }}
